
.movie {
    width: 400px;
    height: 300px;
    margin: 10px;
    box-shadow: 2px 2px 8px 1px rgba(13,181,206,0.05);
  
    background-color: rgb(255,255,255);
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
  }
  
  .movie > .title-container {
    width: 100%;
    flex: 0 0  20%;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
  .title-container > .movie-name {
  
    font-family: muli-bold;
    font-size: 20px;
    color: #24233A;
  
  }
  
  .movie > .info-container {
    width: 85%;
    flex: 0 0 9%;
    border-bottom:1px solid #a6a6a6;
    display: flex;
    padding-top: 6px;
  }
  
  .info-container > .keyword {
    flex: 0 0 30%;
    font-family: muli-regular;
    font-size: 14px;
    color: #24233A;
  }
  
  .info-container > .value {
    height: 22px;
    flex: 0 0 63%;
    font-family: muli-regular;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }